<table>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>date</th>
        <th>createdby</th>
    </tr>
    <tr *ngFor="let item of notes">
        <td>{{item.id}}</td>
        <td class='notes' (click)="getData(item.id)">{{item.name}}</td>
        <td>{{item.date}}</td>
        <td>{{item.createdby}}</td>
    </tr>
</table>
<div [ngClass]={hide:logInPage}  class='ppp'>
    username:<input [(ngModel)]="username"/><br><br>
    password:<input [(ngModel)]="password"/><br><br>
<span (click)="submitForm()">submit</span>
</div>
<div class='displaydata' [ngClass]={hide:hideData}>
    <button (click)=closethepopup()>x</button>
    <div>hello {{un}}</div>
            <div> Months :
                    <select>
                       <option *ngFor="let i of months">{{i}}</option>
                    </select>
                 </div>
</div>
       
   
